<div class="container rounded-1">
    <div class="header text-white">
        <div *ngIf="name == 'SUCCESS'; else errorIcon" class="bg-success h-100 w-100 d-flex justify-content-center align-items-center rounded-1">
            <i  class="material-icons md-light icon">check_circle_outline</i>
        </div>
        <ng-template #errorIcon>
            <div *ngIf="name == 'FORM_CANCEL'; else cancel" class="bg-warning h-100 w-100 d-flex justify-content-center align-items-center rounded-1">
                <i  class="material-icons md-light icon">warning_amber</i>
            </div>
            <ng-template #cancel>
            <div class="bg-danger h-100 w-100 d-flex justify-content-center align-items-center rounded-1">
                <i class="material-icons md-light icon">highlight_off</i>
            </div>
        </ng-template>
        </ng-template>
    </div>
       
    <div class="content d-flex flex-column align-items-center justify-content-center rounded-1">
        <div class="heading fw-bold fs-5 mt-2">
            {{heading}}
        </div>
        <div class="message text-secondary mt-2 mb-4" style="font-size:12px">
            {{message}}
        </div>
        <button *ngIf="name == 'SUCCESS'; else error" class="btn btn-success mb-1 w-25 btn-sm" (click)="close()">Close</button>
        <ng-template #error>
            <button *ngIf="name == 'FORM_ERROR'; else cancel" class="btn btn-danger mb-1 w-25 btn-sm" (click)="close()">Close</button>
        </ng-template>
        <ng-template #cancel>
            <div *ngIf="name=='FORM_CANCEL';else signOut">
                <button class="btn btn-secondary mb-1 me-1 btn-sm" (click)="close()">Close</button>
                <button class="btn btn-danger mb-1 btn-sm" id="{{cancelEventId}}" (click)="confirmCancel($event)">Confirm</button>
            </div>
            <ng-template #signOut>
            <button class="btn btn-danger mb-1 w-25 btn-sm" (click)="signout()">Sign Out</button>
            </ng-template>
        </ng-template>
    </div>
</div>