:host{
    display: flex;
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.container{
    width: 40%;
    height: 250px;
    padding: 0px;
    /* box-shadow: 5px 5px 6px #ccc; */
    /* border-radius: 5px; */
    background-color: #fff;
    position: relative;
    z-index: 100;
}

.header{
    border-bottom: 1px solid #ccc;
    height: 25%;
    width: 100%;
}
.icon{
    width:45px;
    font-size: 45px;
}

.content{
    height: 75%;

}
