.header{
  margin-bottom: 30px;
  padding: 30px 80px;
  /* height: 153px; */
  background: #fff;
  box-shadow: 3px 6px 14px 0 rgb(0 115 187 / 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width:153px;
  height: 41px;
}

/* :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  } */

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }