<div class="container-fluid h-100 d-flex flex-column">
  <div class="row">
    <div class="header">
        <header>
          <a href="#"><img class="logo" src="assets/logo.png"></a>
        </header>
    </div>
  </div>
  <div class="row flex-grow-1"> 
  <mat-card>
        <mat-card-title>SSP Admin Screen</mat-card-title>
  <mat-card-content>
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field>
          <input type="text"  matInput placeholder="NT ID" autocomplete="off"  formControlName="username">
        </mat-form-field>
        
      </p>
      

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <!-- <p *ngIf="error" class="error">
        {{ error }}
      </p> -->
    <section>
      <p>
        <mat-error *ngIf="!isUserValid">User credentials doesn't match. Please try again</mat-error>
      </p>
      <div class="button">
        <button class="btn btn-danger" type="submit" (focus)="isUserValid = true">Submit</button>
      </div>
    </section>
    </form>
  </mat-card-content>
</mat-card>
</div>

  <!--Dialog Component-->
  <app-dialog *ngIf="showDialog"
  [name]="this.dialogData.name" 
  [heading]="this.dialogData.heading" 
  [message]="this.dialogData.message"
  [close]="this.closeDialog.bind(this)">
</app-dialog>
</div>


