<div class="d-flex h-100 justify-content-center align-items-center" *ngIf="isLoading; else mainComponent">
  <mat-spinner></mat-spinner>
</div>
<ng-template #mainComponent>
  <div class="container-fluid h-100 d-flex flex-column">
  <!--Header Component-->
    <div class="row">
      <div class="header">
          <header>
            <a href="#"><img class="logo" src="assets/logo.png"></a>
          </header>
          <button class="btn btn-danger px-4" (click)="signout()">Sign Out</button>
      </div>
    </div>
  <!--Main Page Component-->
    <div class="row flex-grow-1 row-content"> 
      <mat-list>
        <!--Customer Type Configuration-->
        <div>
          <mat-list-item>
            <div class="col-10">
            <span class="fw-bold">Customer Type Configuration</span>
          </div>
          <div class="col-2 d-flex flex-row justify-content-end">
          <button mat-icon-button class="btn w-80" id="{{sectionId['CUSTOMER_TYPE_CONFIG']}}_cancel" (click)="onCancel($event)">
              <i class="material-icons" id="{{sectionId['CUSTOMER_TYPE_CONFIG']}}_cancel_icon">delete</i>
            </button>
            <button mat-icon-button class="btn w-80" id="{{sectionId['CUSTOMER_TYPE_CONFIG']}}_edit" (click)="onEdit($event)">
              <i class="material-icons" id="{{sectionId['CUSTOMER_TYPE_CONFIG']}}_edit_icon" >mode_edit</i>
            </button>
            <button mat-icon-button class="btn w-80" id="{{sectionId['CUSTOMER_TYPE_CONFIG']}}_save" (click)="onSave($event)">
              <i class="material-icons" id="{{sectionId['CUSTOMER_TYPE_CONFIG']}}_save_icon">save</i>
            </button>
          </div>
          </mat-list-item>

          <mat-divider></mat-divider>
          
          <form [formGroup]="customerTypeConfigForm">
            <div class="row mt-2">
              <div class="col-6">
                <div class="col-12">
                  <p class="fw-bold fs-6 d-flex align-items-center gap-1">Update Annual Premium
                    <i 
                      style="cursor:pointer"
                      matTooltip="The upper limit and lower limit for Annual Premium to classify customer as HNI, Medium and Low will be configurable" 
                      class="material-icons md-light md-inactive fs-5">help</i>
                  </p>
                </div>
                <div class="col-12">
                  <p class="col-6 border-design-blue"></p>
                  <p class="col border-design-red"></p>
                </div>
                <div class="col-12 row">
                  <div class="col-1">
                  <label>HNI</label>
                </div>
                <div class="col-4 offset-1">
                  <div>
                  <label>INR</label>
                  <input 
                    class="input-text" 
                    formControlName="HNI_AP_min" 
                    matInput 
                    placeholder="Minimum" 
                    autocomplete="off">
                  </div>
                    <span class="text-danger" *ngIf="(customerTypeConfigForm.get('HNI_AP_min').touched) && customerTypeConfigForm.get('HNI_AP_min').errors?.['validNumber']">
                      Enter value >= 0
                    </span> 
                </div>
                <div class="col-1">
                  <p>to</p>
                </div>
                  <div class="col-4">
                    <div>
                    <label>INR</label>
                    <input class="input-text" formControlName="HNI_AP_max" matInput placeholder="Maximum" autocomplete="off">
                  </div>
                    <span class="text-danger" *ngIf="(customerTypeConfigForm.get('HNI_AP_max').touched) && customerTypeConfigForm.get('HNI_AP_max').errors?.['validNumber']">
                      Enter value >= 0
                    </span>  
                  </div>
                </div>

                <div class="col-12 row">
                  <div class="col-1">
                  <label>Medium</label>
                </div>
                <div class="col-4 offset-1">
                  <div>
                  <label>INR</label>
                  <input class="input-text" formControlName="MED_AP_min" matInput placeholder="Minimum" autocomplete="off">
                </div>
                  <span class="text-danger" *ngIf="(customerTypeConfigForm.get('MED_AP_min').touched) && customerTypeConfigForm.get('MED_AP_min').errors?.['validNumber']">
                    Enter value >= 0
                  </span>  
                </div>
                <div class="col-1">
                  <p>to</p>
                </div>
                  <div class="col-4">
                    <div>
                    <label>INR</label>
                    <input class="input-text" formControlName="MED_AP_max" matInput placeholder="Maximum" autocomplete="off">
                  </div>
                    <span class="text-danger" *ngIf="(customerTypeConfigForm.get('MED_AP_max').touched) && customerTypeConfigForm.get('MED_AP_max').errors?.['validNumber']">
                      Enter value >= 0
                    </span> 
                  </div>
                </div>

                <div class="col-12 row">
                  <div class="col-1">
                  <label>Low</label>
                </div>
                <div class="col-4 offset-1">
                  <div>
                  <label>INR</label>
                  <input class="input-text" formControlName="LOW_AP_min" matInput placeholder="Minimum" autocomplete="off">
                </div>
                  <span class="text-danger" *ngIf="(customerTypeConfigForm.get('LOW_AP_min').touched) && customerTypeConfigForm.get('LOW_AP_min').errors?.['validNumber']">
                    Enter value >= 0
                  </span> 
                </div>
                <div class="col-1">
                  <p>to</p>
                </div>
                  <div class="col-4">
                    <div>
                    <label>INR</label>
                    <input class="input-text" formControlName="LOW_AP_max" matInput placeholder="Maximum" autocomplete="off">
                  </div>
                    <span class="text-danger" *ngIf="(customerTypeConfigForm.get('LOW_AP_max').touched) && customerTypeConfigForm.get('LOW_AP_max').errors?.['validNumber']">
                      Enter value >= 0
                    </span>                
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="col-12">
                <p class="fw-bold fs-6 d-flex align-items-center gap-1">Update Total Sum Assured
                  <i
                    style="cursor:pointer"
                    matTooltip="The upper limit and lower limit for Total sum assured to classify customer as HNI, Medium and Low will be configurable" 
                    class="material-icons md-light md-inactive fs-5">help</i>
                  </p>
                </div>
                <div class="col-12">
                  <p class="col-6 border-design-blue"></p>
                  <p class="col border-design-red"></p>
                </div>
                <div class="col-12 row">
                  <div class="col-1">
                  <label>HNI</label>
                </div>
                <div class="col-4 offset-1">
                  <div>
                  <label>INR</label>
                  <input class="input-text" formControlName="HNI_TSA_min"  matInput placeholder="Minimum" autocomplete="off">
                </div>
                  <span class="text-danger" *ngIf="(customerTypeConfigForm.get('HNI_TSA_min').touched) && customerTypeConfigForm.get('HNI_TSA_min').errors?.['validNumber']">
                    Enter value >= 0
                  </span> 
                </div>
                <div class="col-1">
                  <p>to</p>
                </div>
                  <div class="col-4">
                    <div>
                    <label>INR</label>
                    <input class="input-text" formControlName="HNI_TSA_max" matInput placeholder="Maximum" autocomplete="off">
                  </div>
                    <span class="text-danger" *ngIf="(customerTypeConfigForm.get('HNI_TSA_max').touched) && customerTypeConfigForm.get('HNI_TSA_max').errors?.['validNumber']">
                      Enter value >= 0
                    </span> 
                  </div>
                </div>

                <div class="col-12 row">
                  <div class="col-1">
                  <label>Medium</label>
                </div>
                <div class="col-4 offset-1">
                  <div>
                  <label>INR</label>
                  <input class="input-text" formControlName="MED_TSA_min" matInput placeholder="Minimum" autocomplete="off">
                </div>
                  <span class="text-danger" *ngIf="(customerTypeConfigForm.get('MED_TSA_min').touched) && customerTypeConfigForm.get('MED_TSA_min').errors?.['validNumber']">
                    Enter value >= 0
                  </span> 
                </div>
                <div class="col-1">
                  <p>to</p>
                </div>
                  <div class="col-4">
                    <div>
                    <label>INR</label>
                    <input class="input-text" formControlName="MED_TSA_max" matInput placeholder="Maximum" autocomplete="off">
                  </div>
                    <span class="text-danger" *ngIf="(customerTypeConfigForm.get('MED_TSA_max').touched) && customerTypeConfigForm.get('MED_TSA_max').errors?.['validNumber']">
                      Enter value >= 0
                    </span> 
                  </div>
                </div>

                <div class="col-12 row">
                  <div class="col-1">
                  <label>Low</label>
                </div>
                <div class="col-4 offset-1">
                  <div>
                  <label>INR</label>
                  <input class="input-text" formControlName="LOW_TSA_min" matInput placeholder="Minimum" autocomplete="off">
                </div>
                  <span class="text-danger" *ngIf="(customerTypeConfigForm.get('LOW_TSA_min').touched) && customerTypeConfigForm.get('LOW_TSA_min').errors?.['validNumber']">
                    Enter value >= 0
                  </span> 
                </div>
                <div class="col-1">
                  <p>to</p>
                </div>
                  <div class="col-4">
                    <div>
                    <label>INR</label>
                    <input class="input-text" formControlName="LOW_TSA_max" matInput placeholder="Maximum" autocomplete="off">
                  </div>
                    <span class="text-danger" *ngIf="(customerTypeConfigForm.get('LOW_TSA_max').touched) && customerTypeConfigForm.get('LOW_TSA_max').errors?.['validNumber']">
                      Enter value >= 0
                    </span> 
                  </div>
                </div>
                
              </div>
            </div>
          </form>
        </div>
        <!--Use Case Configuration paramters-->
        <div>
          <mat-list-item>
            <div class="col-10">
            <span class="fw-bold">Use Case Configuration paramters</span>
          </div>
          <div class="col-2 d-flex flex-row justify-content-end">
            <button mat-icon-button class="btn w-80" id="{{sectionId['USE_CASE_CONFIGURATION_PARAMTERS']}}_cancel" (click)="onCancel($event)">
              <i class="material-icons" id="{{sectionId['USE_CASE_CONFIGURATION_PARAMTERS']}}_cancel_icon">delete</i>
            </button>
            <button mat-icon-button class="btn w-80" id="{{sectionId['USE_CASE_CONFIGURATION_PARAMTERS']}}_edit" (click)="onEdit($event)">
              <i class="material-icons" id="{{sectionId['USE_CASE_CONFIGURATION_PARAMTERS']}}_edit_icon" >mode_edit</i>
            </button>
            <button mat-icon-button class="btn w-80" id="{{sectionId['USE_CASE_CONFIGURATION_PARAMTERS']}}_save" (click)="onSave($event)">
              <i class="material-icons" id="{{sectionId['USE_CASE_CONFIGURATION_PARAMTERS']}}_save_icon">save</i>
            </button>
          </div>
          </mat-list-item>

          <mat-divider></mat-divider>
          <form [formGroup]="configParameterForm">
            <div class="row mt-2">
              <div class="col-6">
                <div formGroupName="UC_3">
                  <div class="col-12">
                    <p class="fw-bold fs-6 d-flex align-items-center gap-1">Parameters Configuration - OTP Not recieved
                      <i
                        style="cursor:pointer"
                        matTooltip="The frequency of displaying notification on customer portal/ website is configurable in this section."
                        class="material-icons md-light md-inactive fs-5">help</i>
                    </p>
                  </div>
                  <div class="col-12">
                    <p class="col-6 border-design-blue"></p>
                    <p class="col border-design-red"></p>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <p>Mobile Number Update(Primary + Alternative)</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F100" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <p>Address Change</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F101" type="radio" value="{{i+1}}" id="{{i+1}}"[checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <p>Email ID update</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F102" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <p>Pan update</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F103" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <p>Premium Due Alert</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F104" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <p>Nominee Change</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F106" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <p>Nav Alert</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F107" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <p>Preffered Communication Mode</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F109" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <p>Preffered Communication Language</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F110" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <p>Link my family policy</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F113" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <p>NEFT Update</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F114" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <p>Unclaimed Fund</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F120" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <p>Grievance Redressal</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC3F122" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="col-12 mt-2">
                    <p class="fw-bold fs-6 d-flex align-items-center gap-1">Parameters Configuration - Others
                      <i 
                        style="cursor:pointer"
                        matTooltip="The frequency of displaying notification on customer portal/ website is configurable in this section."
                        class="material-icons md-light md-inactive fs-5">help</i>
                    </p>
                  </div>
                  <div class="col-12">
                    <p class="col-6 border-design-blue"></p>
                    <p class="col border-design-red"></p>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <p>NPS score for product recommendation</p>
                    </div>
                    <div class="col-6 row" formGroupName="UC_40">
                      <ng-container *ngFor="let _ of [].constructor(10);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC40F001" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                      <div class="col-6">
                        <p>Count of SR raised to check surrender value</p>
                      </div>
                      <div class="col-6 row"  formGroupName="UC_41">
                        <ng-container *ngFor="let _ of [].constructor(10);let i=index">
                          <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                            <label class="form-check-label">{{i+1}}</label>
                          <input class="form-check-input" formControlName="UC41F001"  type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div formGroupName="UC_4">
                  <div class="col-12">
                    <p class="fw-bold fs-6 d-flex align-items-center gap-1">Parameters Configuration - Invalid Document type/size counter
                      <i 
                        style="cursor:pointer"
                        matTooltip="The frequency of displaying notification on customer portal/ website is configurable in this section."
                        class="material-icons md-light md-inactive fs-5">help</i>
                    </p>
                  </div>
                  <div class="col-12">
                    <p class="col-6 border-design-blue"></p>
                    <p class="col border-design-red"></p>
                  </div>
                  <div class="row flex align-items-center">
                    <div class="col-6">
                      <p>Address Change</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC4F101" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>
                  <div class="row flex align-items-center">
                    <div class="col-6">
                      <p>PAN Update</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC4F103" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>
                  <div class="row flex align-items-center">
                    <div class="col-6">
                      <p>NEFT Update</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC4F114" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>
                  <div class="row flex align-items-center">
                    <div class="col-6">
                      <p>Unclaimed Fund</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC4F120" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>
                  <div class="row flex align-items-center">
                    <div class="col-6">
                      <p>Grievance Redressal</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC4F122" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>
                  <div class="row flex align-items-center">
                    <div class="col-6">
                      <p>Raise SR</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC4F133" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>
                  <div class="row flex align-items-center">
                    <div class="col-6">
                      <p>Annuity Certificate</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC4F129" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                  </div>
                  <div class="row flex align-items-center">
                    <div class="col-6">
                      <p>GST Waiver</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(5);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+1}}</label>
                        <input class="form-check-input" formControlName="UC4F130" type="radio" value="{{i+1}}" id="{{i+1}}" [checked]="i+1==2">
                      </div>
                    </ng-container>
                    </div>
                </div>
                </div>

                <div formGroupName="UC_6">
                  <div class="col-12 mt-2">
                    <p class="fw-bold fs-6 d-flex align-items-center gap-1">Parameters Configuration - SR Raised Multiple Times
                      <i
                        style="cursor:pointer"
                        matTooltip="The frequency of displaying notification on customer portal/ website is configurable in this section."
                        class="material-icons md-light md-inactive fs-5">help</i>
                    </p>
                  </div>
                  <div class="col-12">
                    <p class="col-6 border-design-blue"></p>
                    <p class="col border-design-red"></p>
                  </div>
                  <div class="row flex align-items-center">
                    <div class="col-6">
                      <p>Mobile Number Update</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(4);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+2}}</label>
                        <input class="form-check-input" formControlName="UC6F100" type="radio" value="{{i+2}}" id="{{i+2}}" [checked]="i+2==3">
                      </div>
                    </ng-container>
                    </div>
                  </div>
                  <div class="row flex align-items-center">
                    <div class="col-6">
                      <p>PAN Update</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(4);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+2}}</label>
                        <input class="form-check-input" formControlName="UC6F103" type="radio" value="{{i+2}}" id="{{i+2}}" [checked]="i+2==3">
                      </div>
                    </ng-container>
                    </div>
                  </div>
                  <div class="row flex align-items-center">
                    <div class="col-6">
                      <p>Nominee Changee</p>
                    </div>
                    <div class="col-6 row">
                      <ng-container *ngFor="let _ of [].constructor(4);let i=index">
                        <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                          <label class="form-check-label">{{i+2}}</label>
                        <input class="form-check-input" formControlName="UC6F106" type="radio" value="{{i+2}}" id="{{i+2}}" [checked]="i+2==3">
                      </div>
                    </ng-container>
                    </div>
                    </div>
                    <div class="row flex align-items-center">
                      <div class="col-6">
                        <p>Email ID Update</p>
                      </div>
                      <div class="col-6 row">
                        <ng-container *ngFor="let _ of [].constructor(4);let i=index">
                          <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                            <label class="form-check-label">{{i+2}}</label>
                          <input class="form-check-input" formControlName="UC6F102" type="radio" value="{{i+2}}" id="{{i+2}}" [checked]="i+2==3">
                        </div>
                      </ng-container>
                      </div>
                    </div>
                    <div class="row flex align-items-center">
                      <div class="col-6">
                        <p>NEFT Update</p>
                      </div>
                      <div class="col-6 row">
                        <ng-container *ngFor="let _ of [].constructor(4);let i=index">
                          <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                            <label class="form-check-label">{{i+2}}</label>
                          <input class="form-check-input" formControlName="UC6F114" type="radio" value="{{i+2}}" id="{{i+2}}" [checked]="i+2==3">
                        </div>
                      </ng-container>
                      </div>
                    </div>
                    <div class="row flex align-items-center">
                      <div class="col-6">
                        <p>Address Change</p>
                      </div>
                      <div class="col-6 row">
                        <ng-container *ngFor="let _ of [].constructor(4);let i=index">
                          <div class="form-check col-1 d-flex align-items-center flex-column m-0 p-0">
                            <label class="form-check-label">{{i+2}}</label>
                          <input class="form-check-input" formControlName="UC6F101" type="radio" value="{{i+2}}" id="{{i+2}}" [checked]="i+2==3">
                        </div>
                      </ng-container>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--Communication Triggers -->
        <div>
          <mat-list-item>
            <div class="col-10">
            <span class="fw-bold">Communication Triggers</span>
          </div>
          <div class="col-2 d-flex flex-row justify-content-end ">
            <button mat-icon-button class="btn w-80" id="{{sectionId['COMMUNICATION_TRIGGERS']}}_cancel" (click)="onCancel($event)">
              <i class="material-icons" id="{{sectionId['COMMUNICATION_TRIGGERS']}}_cancel_icon">delete</i>
            </button>
            <button mat-icon-button class="btn w-80" id="{{sectionId['COMMUNICATION_TRIGGERS']}}_edit" (click)="onEdit($event)">
              <i class="material-icons" id="{{sectionId['COMMUNICATION_TRIGGERS']}}_edit_icon" >mode_edit</i>
            </button>
            <button mat-icon-button class="btn w-80" id="{{sectionId['COMMUNICATION_TRIGGERS']}}_save" (click)="onSave($event)">
              <i class="material-icons" id="{{sectionId['COMMUNICATION_TRIGGERS']}}_save_icon">save</i>
            </button>
          </div>
          </mat-list-item>

          <mat-divider></mat-divider>
          <form [formGroup]="commTriggerForm">
            <div class="row mt-2">
              <div class="col-12">
                <div class="col-12">
                  <p class="fw-bold fs-6 d-flex align-items-center gap-1">Configuration
                    <i
                        style="cursor:pointer"
                        matTooltip="The number of times outbound communication is to be triggered kept configurable in this section"
                        class="material-icons md-light md-inactive fs-5">help</i>
                  </p>
                </div>
                <div class="col-12">
                  <p class="col-6 border-design-blue"></p>
                  <p class="col border-design-red"></p>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="row" formGroupName="UC_8">
                      <div class="col-6"><p>Unclaimed Fund</p></div>
                      <div class="col-6 p-0">
                        <span>Once every <input class="form-input-control input-number" formControlName="UC8F120" type="number" min="1" max="365"> days</span>
                        <div>
                        <span class="text-danger" style="font-size:10px" *ngIf="commTriggerForm.get('UC_8.UC8F120').errors">
                          Enter value in range >=1 and <=365
                        </span>
                      </div>
                      </div>
                    </div>
                    <div class="row" formGroupName="UC_13">
                      <div class="col-6"><p>Quote generator premium calculator</p></div>
                      <div class="col-6 p-0">
                        <span>Repeat every <input class="form-input-control input-number" formControlName="UC13F001" type="number" min="1" max="30"> days</span>
                        <div>
                        <span class="text-danger" style="font-size:10px" *ngIf="commTriggerForm.get('UC_13.UC13F001').errors">
                          Enter value in range >=1 and <=30
                        </span>
                      </div>
                      </div>
                    </div>
                    <div class="row" formGroupName="UC_14">
                      <div class="col-6"><p>Product Recommendation</div>
                      <div class="col-6 p-0">
                        <span>Repeat every <input class="form-input-control input-number" formControlName="UC14F001"  type="number" min="1" max="30"> days</span>
                        <div>
                        <span class="text-danger" style="font-size:10px" *ngIf=" commTriggerForm.get('UC_14.UC14F001').errors">
                          Enter value in range >=1 and <=30
                        </span>
                      </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6"><p>Improve Customer Contactability</p></div>
                      <div class="col-5 row" formGroupName="UC_18">
                        <select class="form-select dropdown" id="customerContactability" name="customerContactability" formControlName="UC18F001">
                          <option value="">Make a Selection</option>
                          <option *ngFor="let option of optionDropdown" [ngValue]="option.value">
                            {{option.name}}
                          </option>
                          <!-- <option value="3_m">3 Month</option>
                          <option value="2_m">3 Month</option>
                          <option value="1_m">1 Month</option>
                          <option value="7_d">7 Days</option>
                          <option value="2_d">2 Days</option>
                          <option value="1_d">1 Day</option> -->
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row" formGroupName="UC_21">
                      <div class="col-4"><p>Document pending for upload</p></div>
                      <div class="col-6 ms-2">
                        <span>Once in <input class="form-input-control input-number" formControlName="UC21F001" type="number" min="1" max="15"> days till SR status updated</span>
                        <div>
                        <span class="text-danger" style="font-size:10px" *ngIf="commTriggerForm.get('UC_21.UC21F001').errors">
                          Enter value in range >=1 and <=15
                        </span>
                      </div>
                      </div>
                    </div>
                    <div class="row" formGroupName="UC_27">
                      <div class="col-4"><p>Portal Setup for Vesting Age</p></div>
                      <div class="col-6 d-flex flex-wrap flex-row">
                        <div class="row" *ngFor="let item of optionDays;let i = index" formArrayName="UC27F132">
                          <div class="form-check d-flex flex-row flex-wrap justify-content-center align-items-center gap-1" >
                            <input class="form-check-input" type="checkbox" [formControlName]="i" [value]="item.value" />
                          <label class="form-check-label">
                            {{item.name}}
                          </label>
                        </div>
                        </div>
                        <!-- <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAge">60 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAge">45 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAge">30 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAge">15 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAge">10 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAge">7 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAge">5 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAge">1 Day</label>
                        </div> -->
                      </div>
                    </div>
                    <div class="row" formGroupName="UC_29">
                      <div class="col-4"><p>Notification to update Annuity Certificate</p></div>
                      <div class="col-6 d-flex flex-wrap flex-row gap-0">
                        <div class="row" *ngFor="let item of optionDays;let i = index" formArrayName="UC29F129">
                          <div class="form-check d-flex flex-row flex-wrap justify-content-center align-items-center gap-1">
                            <input class="form-check-input" type="checkbox" [formControlName]="i" [value]="item.value" />
                          <label class="form-check-label">
                            {{item.name}}
                          </label>
                        </div>
                        </div>
                        <!-- <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAC">60 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAC">45 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAC">30 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAC">15 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAC">10 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAC">7 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAC">5 Days</label>
                        </div>
                        <div class="form-check col-4">
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" id="checkboxAC">1 Day</label>
                        </div> -->
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-12">
                <div class="col-12">
                <p class="fw-bold fs-6 d-flex align-items-center gap-1 d-flex align-items-center gap-1">Stop Communication
                  <i
                  style="cursor:pointer"
                  matTooltip="To stop communication trigger is configurable in this section"
                  class="material-icons md-light md-inactive fs-5">help</i>
                </div>
                <div class="col-12">
                  <p class="col-6 border-design-blue"></p>
                  <p class="col border-design-red"></p>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="row" formGroupName="UC_8">
                      <div class="col-6"><p>Unclaimed Fund</p></div>
                      <div class="col-6">
                        <input class="form-check-input" type="checkbox" id="inputCheckFund" formControlName="UC_8">
                      </div>
                    </div>
                    <div class="row" formGroupName="UC_13">
                      <div class="col-6"><p>Quote generator premium calculator</p></div>
                      <div class="col-6">
                        <input class="form-check-input" type="checkbox" id="inputCheckPC" formControlName="UC_13">
                      </div>
                    </div>
                    <div class="row" formGroupName="UC_14">
                      <div class="col-6"><p>Product Recommendation</p></div>
                      <div class="col-6">
                        <input class="form-check-input" type="checkbox" id="inputCheckRecommend" formControlName="UC_14">
                      </div>
                    </div>
                    <div class="row" formGroupName="UC_18">
                      <div class="col-6"><p>Improve Customer Contactability</p></div>
                      <div class="col-6">
                        <input class="form-check-input" type="checkbox" id="inputCheckContactability"  formControlName="UC_18">
                      </div>
                    </div>
                  </div>
                  <div class="col-6" >
                    <div class="row" formGroupName="UC_21">
                      <div class="col-6"><p>Document pending for upload</p></div>
                      <div class="col-6">
                        <input class="form-check-input" type="checkbox" id="inputCheckUpload" formControlName="UC_21">
                      </div>
                    </div>
                    <div class="row" formGroupName="UC_27">
                      <div class="col-6"><p>Portal Setup for Vesting Age</p></div>
                      <div class="col-6">
                        <input class="form-check-input" type="checkbox" id="inputCheckPortalAge" formControlName="UC_27">
                      </div>
                    </div>
                    <div class="row" formGroupName="UC_29">
                      <div class="col-6"><p>Notification to update Annuity Certificate</p></div>
                      <div class="col-6">
                        <input class="form-check-input" type="checkbox" id="inputCheckUploadAC" formControlName="UC_29">
                      </div>
                    </div>
                    <div class="row" formGroupName="UC_01">
                      <div class="col-6"><p>Stop All Communications</p></div>
                      <div class="col-6">
                        <input class="form-check-input" type="checkbox" id="inputCheckStopComms" formControlName="UC_01">
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
          </form>
        </div>
      </mat-list>
    </div>
  <!--Dialog Component-->
    <app-dialog *ngIf="showDialog"
      [name]="this.dialogData.name" 
      [heading]="this.dialogData.heading" 
      [message]="this.dialogData.message"
      [cancelEventId]="this.cancelEventId"
      [close]="this.closeDialog.bind(this)"
      [signout]="this.signout.bind(this)"
      [confirmCancel]="this.confirmCancel.bind(this)">
    </app-dialog>
  </div>
</ng-template>
