.header{
    margin-bottom: 30px;
    padding: 30px 80px;
    /* height: 153px; */
    background: #fff;
    box-shadow: 3px 6px 14px 0 rgb(0 115 187 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    width:153px;
    height: 41px;
  }

  .row-content{
    padding: 0px 50px;
  }
  ::ng-deep .mat-list-item-content {
    padding: 0 !important;
  }

  .border-design-blue{
    border: 0;
    border-bottom: 2px solid blue;
    width: 6%;
    display: inline-block;
    margin-right: 2px;
  }
  .border-design-red{
    border: 0;
    border-bottom: 2px solid red;
    width: 2%;
    display: inline-block;
  }

  .input-text{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 60%;
    margin-left: 6px;
  }

  .input-number{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 20%;
    margin-left: 3px;
  }

  .form-check-input{
    padding: 0;
    margin: 0;
  }

.mat-list-base .mat-list-item .mat-list-item-ripple, .mat-list-base .mat-list-option .mat-list-item-ripple {
      pointer-events: auto!important;
  }

p{
  font-size: 13px;
}

.dropdown{
  padding: 0px 10px;
  margin: 0;
  font-size: 14px;
}